PORT=4000
FRONTEND_URL=http://localhost:5173
MONGO_URI=
JWT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:4000/users/auth/github/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/users/auth/google/callback

MAIL_PROVIDER=mailtrap
MAIL_FROM=

MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USER=
MAILTRAP_PASS=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

RESEND_API_KEY=
